<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
	</head>
<body >
	<div class="div">
		{{{ body }}}
    </div>

<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<a class="grey-text text-lighten-4 right" href="https://derazmus.github.io/Eat-Da-Burger/">Github</a>
			</div>
		</div>
	</footer>
</body>
</html>